.team-banner-container {
  background-image: linear-gradient(#d91c1f, #1e293b);
  min-height: 100vh;
  background-size: cover;
  padding: 45px 30px;
}
.team-banner {
  width: 100%;
}
.latest-matches {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.match-result-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
